/*layout*/
.container_12 {
	background: url("../img/woodgrain.png");
}

#aside-1 {
	background: teal;
	}
#aside-2{
	background: white;
}
	
#main {
	background: pink;
}
/* LOGO */
img {
	border: 10px dashed #000;
	border-radius: 10px;
	box-shadow: 10px 10px 10px #f0f;
	padding: 10px;
	margin: 10px;
}
/* Main Navigation */

li {
  background: #ffd500;
  display: inline;
  list-style: none;
  margin: 10px;
  padding: 20px;
  text-align: left;
}

a {
  color: green;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

li:hover {
  background: blue;
} 